<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="write-comment-form" action="/new_comment" method="POST">
				<div class="form-group">
				   <label for="exampleTextarea">Write comment:</label>
				   <textarea name="comment[content]" class="form-control" id="comment-text" rows="3"></textarea>
				   <input type="hidden" name="comment[post_id]" value="<%= @post.id %>">
				</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" id="submit-comment" class="btn btn-primary">Add Comment</button>
      </div>
    </div>
  </div>
</div>


<div class="body-container">
	<div id="post_username">
		<h5 class="display-4"> This post was written by <%= @poster.full_name %> </h5>
	</div>

	<div id="post_title">
		<h3 class="display-5"> <%= @post.title %> </h3>
	</div>

	<div id="post_content">
		<p> <%= @post.content %> </p>
	</div>

	<% if @user %>
		<button type="button" id="add-comment" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Add Comment</button>
	<% end %>

	<h5>Comments:</h5>
	<div class="post_comments">
		<% @post.comments.each do |comment| %>
			<p><%= comment.content %></p>
		<% end %>
	</div>
</div>